<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nz.co.ipredict.phydano.appipredict" >

    <!-- Need Internet connection permission so the app can connect to the Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--
     This is for the Gmail API but commented our because not using it
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    -->
    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@drawable/homeicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nz.co.ipredict.phydano.appipredict.MainActivity" />
        </activity>
        <activity
            android:name=".BrowsePrediction"
            android:label="@string/title_activity_browse_prediction"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nz.co.ipredict.phydano.appipredict.MainActivity" />
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nz.co.ipredict.phydano.appipredict.MainActivity" />
        </activity>
        <activity
            android:name=".searchPrediction"
            android:label="@string/title_activity_search_prediction"
            android:parentActivityName=".BrowsePrediction" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nz.co.ipredict.phydano.appipredict.BrowsePrediction" />
        </activity>
        <activity
            android:name=".ShowResult"
            android:label="@string/title_activity_show_result"
            android:parentActivityName=".searchPrediction" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nz.co.ipredict.phydano.appipredict.searchPrediction" />
        </activity>
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nz.co.ipredict.phydano.appipredict.MainActivity" />
        </activity>
        <activity
            android:name=".myPortfolio"
            android:label="@string/title_activity_my_portfolio"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nz.co.ipredict.phydano.appipredict.MainActivity" />
        </activity>
        <activity
            android:name=".Ranking"
            android:label="@string/title_activity_ranking"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nz.co.ipredict.phydano.appipredict.MainActivity" />
        </activity>
    </application>

</manifest>
